<div class="container">
    <section>
        <img src='@Context.GetLink("./img/about-recital-blooms.png")' alt="About Recital Blooms" />
        <div>
            <h1>About Recital Blooms</h1>
            <p>We provide flower bouquets for purchase at congratulatory events, primarily for schools’ graduations and dance studios’ recitals and competitions. While we can accommodate any special request and customize bouquets for your event, we typically offer the following products:</p>
            <ul>
                <li>Full and Half-Dozen Rose Bouquets</li>
                <li>Mini-Bouquets</li>
                <li>Ballerina Teddy-Bear</li>
            </ul>
        </div>
    </section>

    <section class="center">
        <div>
            <h2>What makes us so special and unique?</h2>
            <p>Recital Bloom offers a TWO-WAY fundraising service:</p>
            <p>For every bouquet sold, a portion of the proceeds is donated to a charitable cause and also goes towards funding for our client's studio.</p>
        </div>
    </section>

    <section>
        <img src='@Context.GetLink("./img/rosebouquet1.jpeg")' alt="Benefits of Our On-Site Service - Recital Blooms" />
        <div>
            <h2>Benefits of our on-site service:</h2>
            <ul>
                <li>Fresh-cut, quality flowers</li>
                <li>Convenient service for guests at the event</li>
                <li>Affordable price ranges for all types of bouquets</li>
                <li>Risk and hassle-free for school/studio</li>
                <li>Two-Way Fundraising
                    <ul>
                        <li>Percentage of revenue goes to your studio</li>
                        <li>Percentage of revenue goes to a charity</li>
                    </ul>
                </li>
            </ul>
        </div>
    </section>
</div>