
<section>
    <div>
        <h1>Dance Studio Recitals</h1>
        <p>Team up with Recital Blooms and make flowers available at your dance recital.</p>
        <p>A portion of the proceeds goes towards your studio and one of our charitable funds!</p>
        <p>Our staff sets up on-site, displaying a variety of floral bouquets for the guests to purchase. We handle everything from setup to cleanup.</p>
        <br />
        <h2>Benefits to our service:</h2>
        <ul>
            <li>Raise money for your institution</li>
            <li>Give back to a charitable cause</li>
            <li>A convenient service for your guests</li>
            <li>Affordable prices</li>
            <li>Fresh-cut, quality flowers</li>
            <li>And the best part...risk and hassle free for you!</li>
        </ul>
    </div>
    <img class="no-border-radius" src='@Context.GetLink("./img/recitals.jpeg")' alt="Dance Studio Recitals - Recital Bloom" />
</section>