@{
    ViewData["Title"] = "Recitals";
}

<section class="no-margin-top">
    <div>
        <div class="align-top">
            <h1>Dance Studio Recitals</h1>
            <p>Team up with Recital Blooms and make flowers available at your dance recital.</p>
            <p>A portion of the proceeds goes towards your studio and one of our charitable funds!</p>
            <p>Our staff sets up on-site, displaying a variety of floral bouquets for the guests to purchase. We
                handle
                everything from setup to cleanup.</p>
        </div>
        <div class="flex-row">
            <div>
                <h2>Benefits to our service:</h2>
                <ul>
                    <li>Raise money for your institution</li>
                    <li>Give back to a charitable cause</li>
                    <li>A convenient service for your guests</li>
                    <li>Affordable prices</li>
                    <li>Fresh-cut, quality flowers</li>
                    <li>And the best part...risk and hassle free for you!</li>
                </ul>
                <a class="btn full-width align-center" href="/contact">Contact us <span class="mobile-hide">to
                        order!</span></a>
            </div>

            <img src='@Context.GetLink("./img/recitals.jpeg")' class="full-width" alt="Flowers - Recital Blooms" />
        </div>
    </div>
    <aside class="align-top">
        <div>
            <h3>Gift Options</h3>
            <p>We generally supply the following options, but can accommodate any special requests.</p>

            <div class="aside-section">
                <img src='@Context.GetLink("./img/rosebouquet1.jpeg")' alt="Rose Boquet 1 - Recital Blooms" />
                <strong>Rose Bouquets</strong>
            </div>

            <div class="aside-section">
                <img src='@Context.GetLink("./img/mini-bouquets/mini-bouquet3.jpeg")'
                    alt="Mini Bouquets - Recital Blooms" />
                <img src='@Context.GetLink("./img/mixed-bouquets/mixed-bouquet3.jpeg")'
                    alt="Mixed Bouquets - Recital Blooms" />
                <strong>Mini Bouquets</strong>
            </div>
        </div>
    </aside>
</section>